@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
	background-color: rgb(33, 33, 33);
}
h1 {
	color: rgb(255, 99, 71);
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

h2 {
	color: rgb(202, 213, 226);
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.commonMargin{
	width: 90%;
	margin: 30px auto 0px auto;
	display: block;
}

.noteOutline{
	padding: 5px 5px 5px 10px;
	outline-style: solid;
	outline-color: rgb(255, 99, 71);
	outline-width: 2px;
}

.asciiContainer{
	outline-style: solid;
	outline-color: rgb(255, 99, 71);
	outline-width: 2px;
	background-color: white;
}

.asciiContainer pre {
	color: black;
}

p {
	color: rgb(202, 213, 226);
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
}

.font_s15w300 {
	color: rgb(202, 213, 226);
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(194, 61, 37);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav a.about{
	float: right;
}

.topnav a.duplicate{
	display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav .original{
	display: none;
  }
  
  .topnav a.duplicate{
	display: block;
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a:not(a.original) {
    float: none;
    display: block;
    text-align: left;
  }
  
  p {
	font-size: 12px;
  }
}

/* ------------------ ASCII Table -------------- */
#ASCIItable {
  
  border-collapse: collapse;
  width: 90%;
  margin: 50px auto 50px auto;
  font-size:15px;
}

#ASCIItable th {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #c99457;
	color: #291d12;
}

#ASCIItable td{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: 1px solid #ddd;
	padding: 8px;
}

#ASCIItable tr:nth-child(even){background-color: #303030;}

#ASCIItable tr:hover {background-color: #663737;}


